#contacts {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.contact__specific {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__specific hr {
    border-color: var(--blue-text);
    box-shadow: 0 0 3px var(--blue-header);
}

.contact__specific h1 {
    width: 100%;
    height: 10%;
}

.contact__specific h1, .contact__img a {
    text-shadow: 0 0 3px var(--blue-header);
}

.contact__img {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contact__img img {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 8px var(--blue-header);
}

.contact__img a {
    font-size: 14pt;
    font-weight: 700;
    color: var(--blue-text);
}