header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 100%;
    padding: 0.25rem 0;
}

#logo img {
    height: 100%;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav div {
    height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: var(--blue-header);
}

nav div #ul__main {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div #ul__main li {
    padding: 0.5rem 1.25rem;
}

nav div #ul__main li a, #raffle__color {
    color: var(--blue-text);
    font-size: 11pt;
}

nav div ul li a:hover, #raffle__color:hover {
    text-shadow: 0 0 3px var(--white-text);
}

#raffle__color {
    cursor: pointer;
}

#ul__secondary {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: .4rem 1.25rem;
    border-radius: 10px;
    font-size: 10pt;
    background-color: var(--blue-selection);
    color: var(--blue-text);
}

#ul__secondry li a {
    color: var(--blue-text);
}